node_modules
dist
.git
.gitignore
*.md
.env
.env.*
coverage
.eslintrc*
*.test.ts
*.spec.ts
Dockerfile*
docker-compose*
.husky
infra
k8s
node_modules
dist
.git
.gitignore
*.md
.env
.env.*
coverage
.eslintrc*
*.test.ts
*.spec.ts
Dockerfile*
docker-compose*
.husky
infra
k8s
apps/*/node_modules
apps/web
apps/api/dist
